// mixin
@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
}

// MEDIA QUERY MANAGER
/*
0-600px: Phone
600-900px: Tablet portrait mode
900-1200px: Tablet landscape
[1200-1800 is where our normal styles apply]

1800+: Big desktop


$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: base + typography > general layout > + grid > page layout > components


1em = 16px
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {@content};  // 600px
  }
  @if $breakpoint == tab-port {
     @media (max-width: 56.25em) {@content}; // 900px
  }
    @if $breakpoint == tab-land {
     @media (max-width: 75em) {@content}; // 1200px
  }
    @if $breakpoint == big-desktop {
     @media (min-width: 112.5em) {@content}; // 1800px
  }
}

// variables
$color-primary: #2a902a;
$color-primary-dark: #193133;
$color-primary-light: #0cc70c;
$color-primary-dusty: #3d4849;

$color-dusty-pink: #966a6a;
$color-dusty-orange: #ce947d;
$color-dusty-orange-dark: #b17e6a;

$color-grey-light: #f4f2f2;
$color-grey-light-2: #777;

// animations
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
