@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
}

// variables
$color-primary: #2a902a;
$color-primary-dark: #193133;
$color-primary-light: #0cc70c;

$color-dusty-pink: #966a6a;
$color-dusty-orange: #ce947d;
$color-dusty-orange-dark: #b17e6a;

$color-grey-light: #f4f2f2;
$color-grey-light-2: #777;

// animations
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px; hense 10px/16px = 62.5%;
  padding: 0 2rem 2rem 2rem;
  background-color: $color-grey-light;
}

// picture credit
// plants Photo by Ashley Van Dyke on Unsplash
// plant-1.jpg Photo by Khai Sze Ong on Unsplash
// Photo by Nielsen Ramon on Unsplash
// Photo by Chelsea Bock on Unsplash
// Photo by Gaelle Marcel on Unsplash
// Photo by Scott Webb on Unsplash
