* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px; hense 10px/16px = 62.5%;
  padding: 0 2rem 2rem 2rem;
  background-color: $color-grey-light;

  @include respond(tab-land) {
    // width < 1200
    font-size: 56.25%; // 1 rem = 9px, 9/16 = 50%;
  }

  @include respond(tab-port) {
    // width < 900
    font-size: 50%; // 1 rem = 8px, 8/16 = 50%;
    padding: 0;
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1 rem = 12px, 12/16 = 75%;
  }
}

// picture credit
// plants Photo by Ashley Van Dyke on Unsplash
// plant-1.jpg Photo by Khai Sze Ong on Unsplash
// Photo by Nielsen Ramon on Unsplash
// Photo by Chelsea Bock on Unsplash
// Photo by Gaelle Marcel on Unsplash
// Photo by Scott Webb on Unsplash
