/////////////////////////////////////////
// HEADER
.header {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__name {
    font-size: 3.2rem;
    font-weight: 700;
    a {
      text-decoration: none;
      color: $color-dusty-orange-dark;
    }
  }

  &__navigation {
  }

  &__list {
    list-style: none;
    // background-image: linear-gradient(
    //   to right bottom,
    //   $color-dusty-orange,
    //   $color-dusty-pink
    // );
    // -webkit-background-clip: text;
    // color: transparent;
  }

  &__link {
    display: inline-block;
    font-size: 2rem;
    font-weight: 300;

    a {
      text-decoration: none;
      background-image: linear-gradient(
        to right,
        $color-dusty-orange,
        $color-dusty-pink
      );
      -webkit-background-clip: text;
      color: transparent;
      transition: background-image 1s ease-out;

      &:hover {
        background-image: linear-gradient(
          to right,
          $color-dusty-pink,
          $color-dusty-orange
        );
      }
    }

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}

/////////////////////////////////////////
// HOME
.home {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url(./assets/plant-home.jpg); // Photo by Khai Sze Ong on Unsplash
  background-size: cover;
  background-position: center top;
  margin-bottom: 2rem;

  .text-box {
    color: #fff;
    text-transform: uppercase;

    @include absCenter;
    .heading-primary {
      display: block;
      font-size: 5rem;
      text-align: center;
      letter-spacing: 35px;
      animation: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
    }

    .heading-sub {
      display: block;
      font-size: 2rem;
      text-align: center;
      margin-top: 1rem;
      letter-spacing: 10px;
      font-weight: 300;
      animation: moveInRight;
      animation-duration: 1s;
      animation-timing-function: ease-out;
    }
  }
}

/////////////////////////////////////////
// ABOUT
.about {
  margin-bottom: 2rem;
  &__section-top {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;

    & > * {
      height: 50rem;
      align-self: stretch;
    }

    .about-text-1 {
      padding: 8rem 9rem;
      font-size: 1.6rem;
      flex: 0 0 50%;
      background-color: #fff8f5;
      color: $color-dusty-pink;
      line-height: 25px;
      hyphens: auto;
      animation: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;

      h4 {
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 15px;
        margin-bottom: 1.5rem;
        font-weight: 400;
      }

      hr {
        width: 9rem;
        background: $color-dusty-pink;
        height: 0.3rem;
        text-align: center;
        margin: 0 auto;
        border: 0;
      }

      p {
        margin-top: 2rem;
        font-weight: 300;
      }
    }

    .about-top-photo {
      flex: 1;
      overflow: hidden;

      img {
        height: 100%;
        // width: 100%;
        -webkit-filter: grayscale(40%);
        filter: grayscale(40%);
        transform: scale(1);
        transition: all 0.3s;

        &:hover {
          transform: scale(1.15);
        }
      }
    }
  }

  &__section-bottom {
    display: flex;
    justify-content: center;

    .about-photo-3 {
      flex: 1;
      height: 50rem;
      overflow: hidden;
      background-position: center bottom;

      img {
        width: 100%;
        -webkit-filter: grayscale(40%);
        filter: grayscale(40%) brightness(110%);
        overflow: hidden;
        transform: scale(1) translateY(-100px);
        transition: all 0.3s;

        &:hover {
          transform: scale(1.15) translateY(-100px);
        }
      }
    }

    .about-text-2 {
      flex: 0 0 50%;
      font-size: 5.5rem;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      background-color: $color-primary-dark;
      color: #ce947d;
      overflow: hidden;
      padding: 9rem;
      animation: moveInRight;
      animation-duration: 1s;
      animation-timing-function: ease-out;

      .btn-inline {
        &,
        &:link,
        &:visited {
          display: block;
          margin: 0 auto;
          font-size: 1.8rem;
          margin-top: 4rem;
          padding: 0.9rem 3.9rem;
          background-color: transparent;
          font-weight: 300;
          color: currentColor;
          text-transform: capitalize;
          border: 1.5px solid #ce947d;
          transform: translateY(0);
          transition: all 0.3s;
        }
        &:hover {
          cursor: pointer;
          color: $color-primary-dark;
          background-color: #ce947d;
        }

        &:focus,
        &:active {
          outline: none;
          transform: translateY(3px);
        }
      }
    }
  }
}

/////////////////////////////////////////
// COLLECTION
.collection {
  display: flex;
  margin-bottom: 2rem;

  &__card {
    position: relative;
    transition: all 0.3s;
    perspective: 150rem;
    -moz-perspective: 150rem;
    backface-visibility: hidden;

    &:not(:last-child) {
      margin-right: 2rem;
    }

    &-picture {
      height: 50rem;
      overflow: hidden;
      transition: all 0.9s ease-out;
      backface-visibility: hidden;

      img {
        width: 100%;
        -webkit-filter: grayscale(40%);
        filter: grayscale(40%) brightness(70%);
      }
    }

    &-back {
      backface-visibility: hidden;
      transform: rotateY(180deg);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.9s ease-out;
      background-image: linear-gradient(to right bottom, #436b6e, #193133);

      .stars {
        text-align: center;
        font-size: 1.6rem;
        margin-bottom: 5rem;
        color: $color-dusty-orange;
      }

      &-details {
        @include absCenter;
        p::before {
          content: '\201C';
          position: absolute;
          top: 1rem;
          left: -4rem;
          font-size: 13rem;
        }

        p {
          color: $color-grey-light;
          font-size: 2.5rem;
          font-weight: 300;
          margin-bottom: 4rem;

          text-transform: uppercase;
          text-align: center;
        }

        .btn-inline {
          text-align: center;
          font-size: 1.5rem;
          color: #ce947d;
          padding: 0.9rem 3.9rem;
          background-color: transparent;
          font-weight: 300;
          text-transform: capitalize;
          border: 1.5px solid #ce947d;
          transition: all 0.3s;

          &:hover {
            cursor: pointer;
            color: $color-primary-dark;
            background-color: #ce947d;
          }

          &:focus,
          &:active {
            outline: none;
            transform: translateY(3px);
          }
        }
      }
    }

    &:hover &-picture {
      transform: rotateY(-180deg);
    }

    &:hover &-back {
      transform: rotateY(0);
    }
    &-text {
      position: absolute;
      @include absCenter;
      font-size: 3rem;
      color: $color-grey-light;
    }
  }
}

/////////////////////////////////////////
// CONTACT
.contact {
  padding: 9rem 4rem;
  background-image: url('./assets/contact-plant.jpg');
  background-size: cover;
  background-position: center top;
  position: relative;
  margin-bottom: 2rem;

  &-heading {
    padding-bottom: 3rem;
    font-size: 1.6rem;
    color: $color-dusty-pink;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 13px;
    margin-bottom: 1.5rem;
    font-weight: 400;
  }

  hr {
    width: 9rem;
    background: $color-dusty-pink;
    height: 0.3rem;
    text-align: center;
    margin: 0 auto;
    border: 0;
  }

  &-form {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 50%;
    margin-top: 4rem;
    color: $color-dusty-pink;

    .form-group {
      border: none;
      position: relative;
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      &:first-child {
        // margin-left: -1rem;
        margin-right: 1rem;
      }

      .form-label {
        display: none;
        font-size: 1.3rem;
        position: absolute;
        // display: flex;
        align-items: center;
        margin-left: 1rem;
      }

      .form-input {
        height: 3rem;
        background-color: #fff;
        border: none;
        box-shadow: none;
        width: 100%;
        padding-left: 0.6rem;
        color: $color-dusty-pink;

        &.message {
          height: 10rem;
          padding-top: 0.6rem;
          resize: none;
        }

        &:focus {
          outline: none;
          background-color: $color-grey-light;
        }

        &::-webkit-input-placeholder {
          color: #966a6a;
        }
      }

      &.small-1 {
        flex: 0 0 49%;
      }

      &.small-2 {
        flex: 1;
      }

      &.big {
        flex: 1 1 100%;
      }
    }

    .btn-send {
      cursor: pointer;
      width: 100%;
      padding: 1rem 2rem;
      color: $color-grey-light;
      background-color: #966a6a;
      border: none;
      font-size: 1.5rem;
      font-weight: 300;
    }
  }
}

/////////////////////////////////////////
// FOOTER
.footer {
  padding: 6rem 0rem;
  font-size: 1.3rem;
  background-color: $color-primary-dark;
  color: $color-dusty-orange;
  font-weight: 300;

  &__info {
    display: flex;
    justify-content: space-around;
  }

  &__navigation {
    display: inline-block;
  }

  &__list {
    list-style: none;
  }

  &__link {
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    &:hover {
      transform: skewY(-4deg) scale(1.15);
      background-color: $color-primary-dusty;
    }
  }

  &__subscribe {
    display: inline-block;
    display: flex;
    align-items: center;

    input {
      height: 3.4rem;
      border: 0;
      padding-left: 0.5rem;
      color: $color-dusty-orange;
      width: 20rem;
      background-color: $color-primary-dusty;
      font-weight: 300;

      &::-webkit-input-placeholder {
        color: $color-dusty-orange;
      }

      &:focus {
        outline: none;
        background-color: #3d4849;
      }
    }

    button {
      color: inherit;
      margin-left: 1rem;
      padding: 0.9rem 3rem;
      background-color: transparent;
      font-weight: 300;
      border: 1px solid #ce947d;
      cursor: pointer;

      &:focus,
      &:active {
        outline: none;
        transform: translateY(1px);
      }
    }
  }

  &__address {
    text-align: center;

    p {
      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }
  }

  &__copyright {
    margin-top: 5rem;
    text-align: center;
    p {
      display: inline-block;

      a {
        color: $color-dusty-orange-dark;
        text-decoration: none;

        &:hover {
          transform: skewY(-4deg) scale(1.15);
        }
      }

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }

  &__social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    font-size: 2.2rem;

    .footer-icon {
      cursor: pointer;
      transition: all 0.4s;

      &:not(:last-child) {
        margin-right: 2rem;
      }

      &:hover {
        transform: scale(1.15);
      }
    }
  }
}

/////////////////////////////////////////
// TESTIMONIALS
.service-container {
  position: relative;
  height: 100vh;
  margin-bottom: 2rem;

  &__heading {
    text-transform: uppercase;
    font-size: 1.8rem;
    text-align: center;
    letter-spacing: 15px;
    padding-top: 5rem;
    margin-bottom: 1.5rem;
    font-weight: 400;
    color: $color-dusty-pink;
  }

  hr {
    width: 9rem;
    background: $color-dusty-pink;
    height: 0.3rem;
    text-align: center;
    margin: 0 auto;
    border: 0;
  }

  .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    // z-index: -1;
    opacity: 0.15;
    overflow: hidden;

    &__content {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .service {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 6rem 3rem 3rem 3rem;

    &__picture {
      background-size: cover;
      height: 23rem;
      border-radius: 3px;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

      &--1 {
        background-image: url(./assets/individual.jpg);
        background-position: center;
      }

      &--2 {
        background-image: url(./assets/holiday.jpg);
      }

      &--3 {
        background-image: url(./assets/occasion.jpg);
        background-position: center top;
      }
    }

    &__box {
      position: relative;
      flex-basis: 25%;
      border-radius: 3px;
      background-color: rgba(255, 255, 255, 0.6);
      box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
      transition: all 0.3s;

      &:not(:last-child) {
        margin-right: 3rem;
      }

      &:hover {
        transform: translateY(-1rem) scale(1.05);
        box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
      }
    }

    &__title {
      font-size: 2.1rem;
      text-align: center;
      font-weight: 300;
      display: absolute;
      top: 0;
      left: 0;
      text-align: center;
      margin-top: 1rem;
    }

    &__description {
      padding: 2rem;
      font-size: 1.3rem;
      hyphens: auto;
      font-weight: 300;
    }
  }
}
