.home {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url(./assets/plant-home.jpg); // Photo by Khai Sze Ong on Unsplash
  background-size: cover;
  background-position: center top;

  .text-box {
    color: #fff;
    text-transform: uppercase;

    @include absCenter;
    .heading-primary {
      display: block;
      font-size: 5rem;
      text-align: center;
      letter-spacing: 35px;
      animation: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
    }

    .heading-sub {
      display: block;
      font-size: 2rem;
      text-align: center;
      margin-top: 1rem;
      letter-spacing: 10px;
      font-weight: 300;
      animation: moveInRight;
      animation-duration: 1s;
      animation-timing-function: ease-out;
    }
  }
}

.about {
  margin: 2rem 0;

  &__section-top {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;

    & > * {
      height: 50rem;
      align-self: stretch;
    }

    .about-text-1 {
      padding: 8rem 9rem;
      font-size: 1.6rem;
      flex: 0 0 50%;
      background-color: #fff4ef;
      color: #8d5757;
      line-height: 25px;
      hyphens: auto;

      h4 {
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 15px;
        margin-bottom: 1.5rem;
      }

      p {
        font-weight: 300;
      }
    }

    .about-top-photo {
      flex: 1;
      overflow: hidden;

      img {
        height: 100%;
        // width: 100%;
        -webkit-filter: grayscale(40%);
        filter: grayscale(40%);
        transform: scale(1);
        transition: all 0.3s;

        &:hover {
          transform: scale(1.15);
        }
      }
    }
  }

  &__section-bottom {
    display: flex;
    justify-content: center;

    .about-photo-3 {
      flex: 0 0 50%;
      height: 50rem;
      overflow: hidden;
      background-position: center bottom;

      img {
        width: 100%;
        -webkit-filter: grayscale(40%);
        filter: grayscale(40%) brightness(110%);
        overflow: hidden;
        transform: scale(1) translateY(-100px);
        transition: all 0.3s;

        &:hover {
          transform: scale(1.15) translateY(-100px);
        }
      }
    }

    .about-text-2 {
      flex: 1;
      font-size: 5.5rem;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      background-color: $color-primary-dark;
      color: #ce947d;
      overflow: hidden;
      padding: 9rem;

      .btn-inline {
        display: block;
        margin: 0 auto;
        font-size: 1.8rem;
        margin-top: 4rem;
        padding: 0.9rem 3.9rem;
        background-color: transparent;
        font-weight: 300;
        color: currentColor;
        text-transform: capitalize;
        border: 1.5px solid #ce947d;
        transition: all 0.3s;

        &:hover {
          cursor: pointer;
          color: $color-primary-dark;
          background-color: #ce947d;
        }
      }
    }
  }
}
