@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(150px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html,
body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;
  padding: 0 2rem 2rem 2rem;
  background-color: #f4f2f2; }

.header {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header__name {
    font-size: 3.2rem;
    font-weight: 700; }
    .header__name a {
      text-decoration: none;
      color: #b17e6a; }
  .header__list {
    list-style: none; }
  .header__link {
    display: inline-block;
    font-size: 2rem;
    font-weight: 300; }
    .header__link a {
      text-decoration: none;
      background-image: linear-gradient(to right, #ce947d, #966a6a);
      -webkit-background-clip: text;
      color: transparent;
      transition: background-image 1s ease-out; }
      .header__link a:hover {
        background-image: linear-gradient(to right, #966a6a, #ce947d); }
    .header__link:not(:last-child) {
      margin-right: 1rem; }

.home {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(./assets/plant-home.jpg);
  background-size: cover;
  background-position: center top; }
  .home .text-box {
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px; }
    .home .text-box .heading-primary {
      display: block;
      font-size: 5rem;
      text-align: center;
      letter-spacing: 35px;
      animation: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out; }
    .home .text-box .heading-sub {
      display: block;
      font-size: 2rem;
      text-align: center;
      margin-top: 1rem;
      letter-spacing: 10px;
      font-weight: 300;
      animation: moveInRight;
      animation-duration: 1s;
      animation-timing-function: ease-out; }

.about {
  margin: 2rem 0; }
  .about__section-top {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center; }
    .about__section-top > * {
      height: 50rem;
      align-self: stretch; }
    .about__section-top .about-text-1 {
      padding: 8rem 9rem;
      font-size: 1.6rem;
      flex: 0 0 50%;
      background-color: #fff8f5;
      color: #966a6a;
      line-height: 25px;
      hyphens: auto;
      animation: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out; }
      .about__section-top .about-text-1 h4 {
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 15px;
        margin-bottom: 1.5rem;
        font-weight: 400; }
      .about__section-top .about-text-1 hr {
        width: 9rem;
        background: #966a6a;
        height: 0.3rem;
        text-align: center;
        margin: 0 auto;
        border: 0; }
      .about__section-top .about-text-1 p {
        margin-top: 2rem;
        font-weight: 300; }
    .about__section-top .about-top-photo {
      flex: 1;
      overflow: hidden; }
      .about__section-top .about-top-photo img {
        height: 100%;
        -webkit-filter: grayscale(40%);
        filter: grayscale(40%);
        transform: scale(1);
        transition: all 0.3s; }
        .about__section-top .about-top-photo img:hover {
          transform: scale(1.15); }
  .about__section-bottom {
    display: flex;
    justify-content: center; }
    .about__section-bottom .about-photo-3 {
      flex: 1;
      height: 50rem;
      overflow: hidden;
      background-position: center bottom; }
      .about__section-bottom .about-photo-3 img {
        width: 100%;
        -webkit-filter: grayscale(40%);
        filter: grayscale(40%) brightness(110%);
        overflow: hidden;
        transform: scale(1) translateY(-100px);
        transition: all 0.3s; }
        .about__section-bottom .about-photo-3 img:hover {
          transform: scale(1.15) translateY(-100px); }
    .about__section-bottom .about-text-2 {
      flex: 0 0 50%;
      font-size: 5.5rem;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      background-color: #193133;
      color: #ce947d;
      overflow: hidden;
      padding: 9rem;
      animation: moveInRight;
      animation-duration: 1s;
      animation-timing-function: ease-out; }
      .about__section-bottom .about-text-2 .btn-inline, .about__section-bottom .about-text-2 .btn-inline:link, .about__section-bottom .about-text-2 .btn-inline:visited {
        display: block;
        margin: 0 auto;
        font-size: 1.8rem;
        margin-top: 4rem;
        padding: 0.9rem 3.9rem;
        background-color: transparent;
        font-weight: 300;
        color: currentColor;
        text-transform: capitalize;
        border: 1.5px solid #ce947d;
        transform: translateY(0);
        transition: all 0.3s; }
      .about__section-bottom .about-text-2 .btn-inline:hover {
        cursor: pointer;
        color: #193133;
        background-color: #ce947d; }
      .about__section-bottom .about-text-2 .btn-inline:focus, .about__section-bottom .about-text-2 .btn-inline:active {
        outline: none;
        transform: translateY(3px); }

.collection {
  display: flex;
  margin-bottom: 2rem; }
  .collection__card {
    position: relative;
    transition: all 0.3s;
    perspective: 150rem;
    -moz-perspective: 150rem;
    backface-visibility: hidden; }
    .collection__card:not(:last-child) {
      margin-right: 2rem; }
    .collection__card-picture {
      height: 50rem;
      overflow: hidden;
      transition: all 0.9s ease-out;
      backface-visibility: hidden; }
      .collection__card-picture img {
        width: 100%;
        -webkit-filter: grayscale(40%);
        filter: grayscale(40%) brightness(70%); }
    .collection__card-back {
      backface-visibility: hidden;
      transform: rotateY(180deg);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.9s ease-out;
      background-image: linear-gradient(to right bottom, #436b6e, #193133); }
      .collection__card-back-details {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 3px; }
        .collection__card-back-details p {
          color: #f4f2f2;
          font-size: 2.5rem;
          font-weight: 300;
          margin-bottom: 4rem;
          text-transform: uppercase;
          text-align: center; }
        .collection__card-back-details .btn-inline {
          text-align: center;
          font-size: 1.5rem;
          color: #ce947d;
          padding: 0.9rem 3.9rem;
          background-color: transparent;
          font-weight: 300;
          text-transform: capitalize;
          border: 1.5px solid #ce947d;
          transition: all 0.3s; }
          .collection__card-back-details .btn-inline:hover {
            cursor: pointer;
            color: #193133;
            background-color: #ce947d; }
          .collection__card-back-details .btn-inline:focus, .collection__card-back-details .btn-inline:active {
            outline: none;
            transform: translateY(3px); }
    .collection__card:hover .collection__card-picture {
      transform: rotateY(-180deg); }
    .collection__card:hover .collection__card-back {
      transform: rotateY(0); }
    .collection__card-text {
      position: absolute;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 3px;
      font-size: 3rem;
      color: #f4f2f2; }

.contact {
  padding: 11rem 4rem;
  background-image: url("./assets/contact-plant.jpg");
  background-size: cover;
  background-position: center top;
  position: relative; }
  .contact-heading {
    padding-bottom: 3rem;
    font-size: 1.6rem;
    color: #966a6a;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 13px;
    margin-bottom: 1.5rem;
    font-weight: 400; }
  .contact hr {
    width: 9rem;
    background: #966a6a;
    height: 0.3rem;
    text-align: center;
    margin: 0 auto;
    border: 0; }
  .contact-form {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 50%;
    margin-top: 4rem;
    color: #966a6a; }
    .contact-form .form-group {
      border: none;
      position: relative;
      display: flex;
      align-items: center; }
      .contact-form .form-group:not(:last-child) {
        margin-bottom: 1rem; }
      .contact-form .form-group:first-child {
        margin-right: 1rem; }
      .contact-form .form-group .form-label {
        display: none;
        font-size: 1.3rem;
        position: absolute;
        align-items: center;
        margin-left: 1rem; }
      .contact-form .form-group .form-input {
        height: 3rem;
        background-color: #fff;
        border: none;
        box-shadow: none;
        width: 100%;
        padding-left: 0.6rem;
        color: #966a6a; }
        .contact-form .form-group .form-input.message {
          height: 10rem;
          padding-top: 0.6rem;
          resize: none; }
        .contact-form .form-group .form-input:focus {
          outline: none;
          background-color: #f4f2f2; }
        .contact-form .form-group .form-input::-webkit-input-placeholder {
          color: #966a6a; }
      .contact-form .form-group.small {
        flex: 0 0 49%; }
      .contact-form .form-group.big {
        flex: 1 1 100%; }
    .contact-form .btn-send {
      cursor: pointer;
      width: 100%;
      padding: 1rem 2rem;
      color: #f4f2f2;
      background-color: #966a6a;
      border: none;
      font-size: 1.5rem;
      font-weight: 300; }

.footer {
  padding: 6rem 0rem;
  font-size: 1.3rem;
  background-color: #193133;
  color: #ce947d;
  font-weight: 300; }
  .footer__info {
    display: flex;
    justify-content: space-around; }
  .footer__navigation {
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__link {
    text-align: center;
    cursor: pointer;
    transition: all 0.2s; }
    .footer__link:not(:last-child) {
      margin-bottom: 1.5rem; }
    .footer__link:hover {
      transform: skewY(-4deg) scale(1.15);
      background-color: #3d4849; }
  .footer__subscribe {
    display: inline-block;
    display: flex;
    align-items: center; }
    .footer__subscribe input {
      height: 3rem;
      border: 0;
      padding-left: 0.5rem;
      color: #ce947d;
      width: 20rem;
      background-color: #3d4849; }
      .footer__subscribe input::-webkit-input-placeholder {
        color: #ce947d; }
      .footer__subscribe input:focus {
        outline: none;
        background-color: #3d4849; }
    .footer__subscribe button {
      color: inherit;
      margin-left: 1rem;
      padding: 0.9rem 3rem;
      background-color: transparent;
      font-weight: 300;
      border: 1px solid #ce947d;
      cursor: pointer; }
      .footer__subscribe button:focus, .footer__subscribe button:active {
        outline: none;
        transform: translateY(1px); }
  .footer__address {
    text-align: center; }
    .footer__address p:not(:last-child) {
      margin-bottom: 1.5rem; }
  .footer__copyright {
    margin-top: 5rem;
    text-align: center; }
    .footer__copyright p {
      display: inline-block; }
      .footer__copyright p a {
        color: #b17e6a;
        text-decoration: none; }
        .footer__copyright p a:hover {
          transform: skewY(-4deg) scale(1.15); }
      .footer__copyright p:not(:last-child) {
        margin-right: 2rem; }

.testimonials {
  position: relative;
  height: 100vh; }
  .testimonials .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.15;
    overflow: hidden; }
    .testimonials .bg-video__content {
      height: 100%;
      width: 100%;
      object-fit: cover; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
